/* design */
html{
    background-color: black;
}


h1{
    color: white ;
    font-size: 4vw;
	background-color: rgb(43, 16, 16);
	background: linear-gradient(70deg, black, rgb(58, 16, 16));
}

img{
	width: 450px;
	height: 300px;
	object-fit: none;
}
p{
	color: white;
	font-size: 2vw;
	line-height: 0%;
}
.switch{
		display: flex;
		margin-left: auto;
		margin-right: 0;
		background-color: antiquewhite;
}

/* First Flexbox try */
.spieleBilder{
	border: 3px solid white; 
	/* width: radius color style; */
	width: 90%;
	margin-left: 5%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	
	
}
.spieleBilder::after{
	width: 10%;
	height: 10%;
	position: relative;
	background-color: blue;
	display: block;
	content: "";
}


.games{

	color:white;
	font-size: 1vw;
	background-color: brown;
}

.games:hover{
	background-color: green;
}